<h3>User details</h3>
<form #idform=ngForm (ngSubmit)=findUser(idform) >

  <div class="form-group">
  <label>User Id</label>
  <input type="number" name="userid"   ngModel class="form-control">
</div>
  <input type="submit" value="Search" class="btn btn-success">
</form>
<br>

<div *ngIf="user!==undefined">
  
  
  Name is {{user.name | uppercase }}
Age is {{user.age}}
Salary is {{user.salary | currency:'INR' }}

<div *ngIf="user.age>=21">
  You are eligible to vote
</div>

<div *ngIf="user.age<21">
    You are NOT eligible to vote
</div>
  
</div>