<h3>Add user</h3>
<!--
  ngSubmit is the event and we are hooking our addUser method to
   this event so that on submit addUser method will get executed
   
   myform is a template variable, it contains formgroup 
   and we are passing this to our method so as to process it at code(ts) side  
-->
<form #myform=ngForm (ngSubmit)="addUser(myform)">

<div>
    <label>User name</label>
    <!--
        ngModel creates formcontrol at code side,
         without mentioning ngModel, angular has no knowledge of this textfield -->
    <input type="text" name="username" ngModel>    
</div>


<div>
    <label>Age</label>
    <input type="number" name="age" ngModel>    
</div>


<div>
    <label>Salary</label>
    <input type="number" name="salary" ngModel>    
</div>

<input type="submit" value="Submit">    
</form>
<br>

<div *ngIf="user!==undefined">
 <h3>Added user </h3>   
 {{user.id}}
{{user.name}}
{{user.age}}
{{user.salary}}
</div>