<h1>
my application title is {{title}} using interpolation
</h1>


<h1 [textContent]="title"></h1>


<a [href]="links[0]">html</a>
<br>

<a [href]="links[1]">css</a>
<br>

<a [href]="links[2]">javascript</a>

<br>
<img [src]="imgPath" >

<br>
<button  (click)="increment()" >Increment </button>

<br>
<label>Count keys</label>
<input (keyup)="increment()" type="text">

counter value is {{ counter}}

<br>
<b>Two way binding example</b>
<br>
<label>Enter Name</label>
<input  [(ngModel)]="username" name="usernameinput" >

<br>
your name is {{username}}

<br>
 description is  {{description}}



<br>
3+4 is {{3+4}}


<br>
project start date is {{startDate}}
<br>
application is  {{"my "+name}}

<br>
Top User name is {{topUser.getName()}}
Top User age is {{topUser.getAge()}}
<br>
Users information
Total Count of users {{users.length}}
<br>
1) {{users[0].name}} {{users[0].age}}
<br>
2) {{users[1].name}} {{users[1].age}}











