<h3>Add user</h3>
<!--
  ngSubmit is the event and we are hooking our addUser method to
   this event so that on submit addUser method will get executed
   
   myform is a template variable, it contains formgroup 
   and we are passing this to our method so as to process it at code(ts) side  
-->
<form [formGroup]="userForm" (ngSubmit)="userForm.valid && addUser()">

<div class="form-group">
    <label>User name</label>
    <!--
        ngModel creates formcontrol at code side,
         without mentioning ngModel, angular has no knowledge of this textfield -->
    <input type="text" formControlName="username" class="form-control">    
</div>


<div *ngIf="usernameCtrl.errors!=null && usernameCtrl.errors.required" class="error">
    User name is required
   </div>

   
<div *ngIf="usernameCtrl.errors!=null && usernameCtrl.errors.minlength" class="error">
   Minimum length is 2
   </div>

<div class="form-group">
    <label>Age</label>
    <input type="number"  formControlName="age"  class="form-control">    
</div>



<div *ngIf="ageCtrl.errors!=null && ageCtrl.errors.required" class="error">
    User name is required
   </div>

<div class="form-group">
    <label>Salary</label>
    <input type="number"  formControlName="salary" class="form-control">    
</div>



<div *ngIf="salaryCtrl.errors!=null && salaryCtrl.errors.required" class="error">
   salary is required
   </div>

<input type="submit" value="Submit" class="btn btn-primary btn-lg">    
</form>
<br>

<div *ngIf="user!==undefined">
 <h3>Added user </h3>   
 {{user.id}}
{{user.name}}
{{user.age}}
{{user.salary}}
</div>
