Name is {{user.name | uppercase | substring:0:3 }}
Age is {{user.age}}
Salary is {{user.salary | currency:'INR' }}

<div *ngIf="user.age>=21">
  You are eligible to vote
</div>

<div *ngIf="user.age<21">
    You are NOT eligible to vote
</div>
  
 <br>
 formatting in japanese currency
 {{500 | currency:'JPY' }} 
 <br>
 formatting in indian currency
 {{500 | currency:'INR' }} 

 <br>
 formatting into json
 {{user | json }}

 <br>
 substring pipe

 end argument not provided
 {{'new delhi' | substring:5}}
 <br>
end argument provided
 {{'new delhi' | substring:5:7 }}
